.el-main {
  padding: 0 10px 12px;
  height: 100%;
  box-sizing: border-box;
}

.el-menu {
  border-right: 0px;
}

.el-header {
  padding: 0px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.el-menu .is-active {
  background: #00c1de !important;
  color: #fff !important;
}

.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
  margin-bottom: 14px;
}

.el-form-item__label {
  text-align: left;
  /* font-size: 12px; */
  padding-right: 0px;
}
.el-form--label-right .el-form-item__label {
  text-align: right;
}

.el-input--small,.el-cascader-node__label{
  /* font-size: 12px; */
}

.el-input-number {
  width: auto;
}

.el-dialog__header {
  border-bottom: 1px solid #e4e4e4;
}

.el-dialog__footer {
  border-top: 1px solid #e4e4e4;
}

.el-dialog--center .el-dialog__body {
  padding: 25px 25px 15px;
}

.customdialog .el-dialog__header {
  display: none;
}

.customdialog .el-dialog__body {
  padding-top: 2px;
}

.setdialog {
  border-radius: 10px;
}

.setdialog .el-dialog__body {
  padding: 15px 20px 5px 20px;
}

.setdialog .el-dialog__footer {
  text-align: center;
}

.setleftdialog {
  border-radius: 10px;
}

.setleftdialog .el-dialog__header {
  text-align: left;
}

.setleftdialog .el-dialog__footer {
  text-align: center;
}

.customheaderdialog {
  border-radius: 10px;
}

.customheaderdialog .el-dialog__header {
  display: none;
}

.customheaderdialog .el-dialog__body {
  padding: 15px 0px;
}

.customheaderdialog-header {
  padding: 10px 20px;
}

.customheaderdialog .el-dialog__footer {
  text-align: center;
}

.customheaderdialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}

.customheaderdialog-header p {
  font-size: 16px;
}

.customheaderdialog-header p span {
  padding-left: 15px;
  font-size: 12px;
  color: #999999;
}

.customheaderdialog-header p .el-icon-close {
  width: 15px;
  height: 15px;
  display: block;
  color: #333333;
}

.customheaderdialog-boby{
  padding: 15px 20px;
}

.el-submenu__title i {
  margin-right: 10px;
}

.el-submenu__title {
  background-color: #3b3b3b !important;
}

.secendsubmenu .el-submenu__title {
  padding-left: 55px !important;
  background-color: #2c2c2c !important;
}

.el-menu-item {
  padding-left: 55px !important;
  background-color: #2c2c2c !important;
}

.el-menu-item-group__title {
  height: 0px;
  padding: 0px;
}

.el-button--primary {
  background: #1489CD;
  border-color: #1489CD;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #1489CD;
  border-color: #1489CD;
  color: #fff;
}

.el-button--default:focus,
.el-button--default:hover {
  border-color: #1489CD;
  background: #fff;
  color: #1489CD;
}

.el-button--small{
  font-size: 14px;
  padding: 9px 20px;
}

.el-button--text{
  padding-left: 0px;
  padding-right: 0px;
  color: #1489CD;
}

.el-table thead {
  color: #333333;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.el-cascader.is-disabled .el-cascader__label span {
  color: #c0c4cc;
}

.el-button--mini {
  padding: 5px 8px;
  /* font-size: 12px; */
}

.el-transfer__buttons {
  padding: 0 15px;
}

.el-transfer-panel {
  width: 250px;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 14px;
}

.el-transfer__button {
  background: #fff;
  border-color: #1489CD;
  color: #1489CD
}

.el-transfer__button.is-disabled,
.el-transfer__button.is-disabled:hover {
  border: 1px solid #dcdfe6;
  background-color: #f5f7fa;
  color: #c0c4cc;
}

.el-cascader-menu {
  min-width: 160px;
}

.selectshop .el-transfer-panel__item {
  display: block;
  width: 220px;
}

.selectshop .el-checkbox {
  margin: 0;
}

.selectgoods .el-transfer-panel {
  width: 200px;
}

.selectgoods .el-transfer-panel__item {
  display: block;
  width: 170px;
}

.goodscategory .el-tree-node__content {
  height: 49px;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 25px !important;
}

.goodscategory .el-tree-node__children .el-tree-node__content {
  padding-left: 50px !important;
}

.goodscategory .el-tree-node__children .el-tree-node__children .el-tree-node__content {
  padding-left: 70px !important;
}

.goodscategory .el-tree-node__children .el-tree-node__children .el-tree-node__children .el-tree-node__content {
  padding-left: 90px !important;
}

.tableView .el-table__expanded-cell,
.tableView1 .el-table__expanded-cell {
  padding: 0;
}

.tableView1 .cell {
  padding: 0;
}

.expand .el-table__expand-column .cell {
  display: none;
}

.customtabs .el-tabs__nav-wrap::after {
  background-color: #fff;
}


.sukInput .el-input__inner {
  height: 32px;
  line-height: 32px;
  /* font-size: 12px; */
}

.sukInput .el-input__icon {
  line-height: 32px;
}

.inputnumbertabel .el-input-number__decrease,
.inputnumbertabel .el-input-number__increase {
  bottom: 2px;
  top: 2px;
  margin-left: 1px;
}

.zz-appointment .el-input__inner {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  background-color: #F0F0F0;
  border: none;
}

.yanzhengmainput-moblie .el-input__inner {
  border: none;
}


.swiper-pagination-custom {
  display: flex;
  flex-direction: row;
  /*这里可以不写，flex布局默认方向横向即row*/
  justify-content: center;
}

.swiper-pagination-customs {
  display: block;
  width: 8px;
  margin-left: 10px;
  border-bottom: 3px solid #ffffff;
}

.swiper-pagination-customs-active {
  width: 12px;
  border-bottom: 3px solid #CD4339;
}

.page_banner .swiper-pagination-custom {
  bottom: 25px;
}

.swiper-pagination-homepage {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 15px;
  background-color: #ffffff;
  cursor: pointer;
}

.swiper-pagination-homepage-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.swiper-pagination-mobile-homepage{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-left: 15px;
  background-color: #ffffff;
  cursor: pointer;
}

.swiper-pagination-mobile-homepage-active {
  width: 16px;
  height: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}

.custom-el-tab .el-tabs__nav-wrap::after {
  background-color: #ffffff;
}

.el-table .bold-row {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  background: #f6f6f6;
}

.el-table .bold-row-small {
  /* font-size: 12px; */
}


.maxormininput .el-input-number__decrease {
  display: none
}

.maxormininput .el-input-number__increase {
  display: none
}

.maxormininput .el-input__inner {
  height: 35px;
  line-height: 35px;
  font-size: 13px;
}

.maxormininput .el-input__icon {
  line-height: 35px;
}

.el-radio__label{
  /* font-size: 12px; */
  padding-left: 8px;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #1489CD;
  background: #1489CD;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #606266;
}

.el-radio {
  font-weight: 400;
}

.el-checkbox__label{
  /* font-size: 12px; */
  padding-left: 8px;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #1489CD;
  background: #1489CD;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #606266;
}

.el-checkbox {
  font-weight: 400;
}

.switchStyle .el-switch__label {
  position: absolute;
  display: none;
  color: #fff;
}

.switchStyle .el-switch__label--left {
  z-index: 9;
  left: 22px;
}

.switchStyle .el-switch__label--right {
  z-index: 9;
  left: -2px;
  top: 0px;
}

.switchStyle .el-switch__label.is-active {
  display: block;
}

.switchStyle .el-switch__label.is-active span {
  font-size: 12px;
}

.switchStyle.el-switch .el-switch__core,
.el-switch .el-switch__label {
  width: 65px !important;
}

.switchStyle.el-switch.is-disabled .el-switch__core,
.switchStyle.el-switch.is-disabled .el-switch__label {
  cursor: pointer;
}

.el-notification p {
  word-break: break-all;
}

.el-tabs__item{
  font-size: 16px;
}

.el-tabs__item.is-active {
  color: #1489CD;
}

.el-tabs__active-bar {
  background-color: #1489CD;
  height: 3px;
}

.el-input-group__append, .el-input-group__prepend{
  background-color:#ffffff;
}

.el-dialog__title{
  font-size: 16px;
  line-height: 18px;
}

.el-pagination__jump{
  margin-left: 10px;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  border: 1px solid #1489CD;
  background-color: #1489CD;
}

.el-pagination .el-select .el-input{
  width: 85px;
}

.search_button_items .el-form-item{
  margin-bottom: 0px;
}

.search_header .el-form-item__label {
  text-align: right;
  padding-right: 10px;
}

.search_header .el-col-6{
  margin-right: 15px;
}

.row-4 .el-col-6{
  margin-right: 0px;
}

.el-input--suffix .el-input__inner{
  padding-right: 25px;
}

.el-popover p {
  /* font-size: 12px; */
}

.content-list .el-checkbox{
  margin-right: 10px;
}

.el-carousel__button{
  opacity: 1;
}

.el-carousel__indicator.is-active button{
  background-color: #1489CD;
}

.el-carousel__indicators--outside button{
  opacity: 1;
  background-color: #AAAAAA;
}

.custom-input .el-input__inner {
  font-size: 14px;
  box-shadow: none;
  border: 1px solid #fff;
  background: #fff;
}

.el-drawer__header{
  display: none;
}

.el-table--border{
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.el-table--border td,.el-table--border th{
  padding: 5px 0;
}

.el-table--border td, .el-table--border th.is-leaf{
  border-bottom: 1px solid #d9d9d9;
}

.el-table--border td, .el-table--border th{
  border-right: 1px solid #d9d9d9;
}

.el-table--border::after, .el-table--border::before{
  background-color: #d9d9d9;
}

.el-table--border .el-table__body .cell{
  /* font-size: 12px; */
}

.el-button{
  font-weight: 400;
}

.el-pagination button, .el-pagination span:not([class*=suffix]){
  font-size: 14px;
}

.el-pager li{
  font-size: 14px;
}

.el-table__fixed {
  height: 100% !important; 
}

.el-table__fixed-right{
  height: 100% !important; 
}
.daily-table .el-table th.gutter{
  display: table-cell!important;
}
.daily-table .el-table .el-table__header th{
  border-bottom: 1px solid #D9D9D9;
  border-bottom: 0.9px solid #D9D9D9;
}

.no-arrow .el-table .el-table__expand-icon {
  display: none;
}
